<div class="sign-up-component overflow-auto h-100 m-0 p-3">
  <div class="container-fluid h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="container-fluid">
          <div class="row">
            <div class="col sign-up-header text-center p-4">
              <h4 class="m-0"> {{ 'Entrar' | uppercase }} </h4>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row ui-fluid">
            <div class="col">
              <div class="form-group">
                <label for="email" class="d-none"> <strong>Email</strong></label>
                <input pInputText [(ngModel)]="email" id="email" type="email" class="form-control" aria-describedby="email-help"
                  placeholder="Seu Email">
                <small id="email-help" class="d-none form-text text-muted">
                  We'll never share your email with anyone else.
                </small>
              </div>
              <div class="form-group">
                <label for="password" class="d-none"><strong>Senha</strong></label>
                <input pInputText [(ngModel)]="password" id="password" type="password" class="form-control" aria-describedby="password-help"
                  placeholder="Senha">
                <small id="password-help" class="form-text text-muted">
                  <a href="#">Esqueceu sua senha?</a>
                </small>
              </div>
              <button pButton type="button" label="Entrar" (click)="signin()"></button>
              <hr>
              <div class="form-group text-center">
                <small class="form-text text-muted">
                  Não tem uma conta? <a [routerLink]="['/sign-up']">Registrar-se</a>
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>