<div class="p-3">
  <div class="container">
    <div class="w-100 mb-2" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
      <small class="float-right">
        {{returnDateNow() | date:'dd/MM/yyyy'}}
      </small>
      <strong>
        {{user.fullname}}
      </strong>
    </div>
    <div class="card p-0">
      <div class="card-body">
        <div class="row">
          <div *ngIf="currentStep == 0" class="col-2 col-md-3 d-none">
            <button class="btn btn-sm btn-info h-100 float-left invisible" (click)="previousStep()"
              style="min-height: 35px;">
            </button>
          </div>

          <div class="col-6 p-2 item-selectable" *ngFor="let item of items; let i = index">
            <div class="content-of-item py-2 h-100" [class.item-selected]="currentStep === i"
              (click)="disabledHealthPlan(i)">
              <div class="f-2em" [ngClass]="item.icon" *ngIf="item.icon"></div>
              <div class="wrap-text f-14">
                {{item.label}}
              </div>
            </div>
          </div>
          <div *ngIf="currentStep == 3" class="offset-8 col-2 offset-md-6 col-md-3 d-none">
            <button class="btn btn-sm btn-info h-100 float-right" style="min-height: 35px;">
              <span class="d-block d-md-none">
                <i class="fas fa-save"></i>
              </span>
              <span class="d-none d-md-block d-lg-none">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Salvar
              </span>
              <span class="d-none d-lg-block">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Salvar Atendimento
              </span>
            </button>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div *ngIf="currentStep == 0" class="card-body">
        <app-exam-location-create-component [location]="location" (locationSelected)="onLocationSelected($event)">
        </app-exam-location-create-component>
      </div>
      <div *ngIf="currentStep == 1" class="card-body">
        <app-exam-type-create-component [examType]="examType" (examTypeSelected)="onExamTypeSelected($event)">
        </app-exam-type-create-component>
      </div>
      <div *ngIf="currentStep == 2" class="card-body">
        <app-exam-provider-create-component [provider]="provider" (providerSelected)="onProviderSelected($event)">
        </app-exam-provider-create-component>
      </div>
      <div *ngIf="currentStep == 3" class="card-body">
        <app-exam-health-plan-component [healthPlan]="healthPlan" [provider]="provider"
          (healthPlanSelected)="onHealthPlanSelected($event)">
        </app-exam-health-plan-component>
      </div>
      <div *ngIf="currentStep == 4" class="card-body pb-0">
        <app-exam-details-create-component (saveExam)="save($event)">
        </app-exam-details-create-component>
      </div>
    </div>
  </div>
</div>