<div class="p-3">
  <div class="container">
    <div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 p-0 p-md-2">
          <li class="breadcrumb-item"><a [routerLink]="['/']">Dashboard</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/exams']">Atendimentos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Novo</li>
        </ol>
      </nav>
    </div>
    <div class="card p-0">
      <div class="card-body">
        <div class="row">
          <div *ngIf="currentStep == 0" class="col-2 col-md-3 d-none">
            <button class="btn btn-sm btn-info h-100 float-left invisible" (click)="previousStep()"
              style="min-height: 35px;">
            </button>
          </div>

          <div class="col-6 p-2 item-selectable" *ngFor="let item of items; let i = index">
            <div class="content-of-item py-2 h-100" [class.item-selected]="currentStep === i"
              (click)="disabledHealthPlan(i)">
              <div class="f-2em" [ngClass]="item.icon" *ngIf="item.icon"></div>
              <div class="wrap-text f-14">
                {{item.label}}
              </div>
            </div>
          </div>
          <!-- <div *ngIf="currentStep > 0" class="col-2 col-md-3"> -->
          <!--             
            <button class="btn btn-sm btn-info h-100 float-left" (click)="previousStep()" style="min-height: 35px;">
              <span class="d-block d-md-none">
                <i class="fas fa-arrow-left"></i>
              </span>
              <span class="d-none d-md-block d-lg-none">
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Voltar
              </span>
              <span class="d-none d-lg-block">
                <i class="fas fa-arrow-left"></i>&nbsp;&nbsp;Voltar
              </span>
            </button> -->
          <!-- </div> -->
          <div *ngIf="currentStep == 3" class="offset-8 col-2 offset-md-6 col-md-3 d-none">
            <button class="btn btn-sm btn-info h-100 float-right" style="min-height: 35px;">
              <span class="d-block d-md-none">
                <i class="fas fa-save"></i>
              </span>
              <span class="d-none d-md-block d-lg-none">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Salvar
              </span>
              <span class="d-none d-lg-block">
                <i class="fas fa-save"></i>&nbsp;&nbsp;Salvar Atendimento
              </span>
            </button>
          </div>
        </div>
      </div>
      <hr class="m-0">
      <div *ngIf="currentStep == 0" class="card-body">
        <app-exam-location-create-component [location]="location" (locationSelected)="onLocationSelected($event)">
        </app-exam-location-create-component>
      </div>
      <div *ngIf="currentStep == 1" class="card-body">
        <app-exam-type-create-component [examType]="examType" (examTypeSelected)="onExamTypeSelected($event)">
        </app-exam-type-create-component>
      </div>
      <div *ngIf="currentStep == 2" class="card-body">
        <app-exam-provider-create-component [provider]="provider" (providerSelected)="onProviderSelected($event)">
        </app-exam-provider-create-component>
      </div>
      <div *ngIf="currentStep == 3" class="card-body">
        <app-exam-health-plan-component [healthPlan]="healthPlan" [provider]="provider"
          (providerSelected)="onHealthPlanSelected($event)">
        </app-exam-health-plan-component>
      </div>
      <div *ngIf="currentStep == 4" class="card-body">
        <app-exam-details-create-component>
        </app-exam-details-create-component>
      </div>
      <div class="card-body">

        <!-- <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a> -->
      </div>
    </div>
    <!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-style1 mg-b-10">
    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Sales Monitoring</li>
  </ol>
</nav> -->
  </div>
</div>


<!-- body alternative -->
<!-- <div class="row ui-fluid">
  <div class="col">
    <div class="form-group">
      <label for="local" class="d-none"> <strong>Local</strong></label>
      <input pInputText id="local" type="local" class="form-control" aria-describedby="local-help"
        placeholder="Local">
      <small id="local-help" class="d-none form-text text-muted">
        Preencha com o local do atendimento.
      </small>
    </div>
    <div class="form-group">
      <label for="atendimento" class="d-none"><strong>Atendimento</strong></label>
      <input pInputText id="atendimento" type="atendimento" class="form-control"
        aria-describedby="atendimento-help" placeholder="Tipo de Atendimento">
      <small id="atendimento-help" class="d-none form-text text-muted">
        Preencha com o tipo de atendimento realizado.
      </small>
    </div>
    <div class="form-group">
      <label for="operadora" class="d-none"><strong>Operadora</strong></label>
      <input pInputText id="operadora" type="operadora" class="form-control" aria-describedby="operadora-help"
        placeholder="Operadora">
      <small id="operadora-help" class="d-none form-text text-muted">
        Preencha com a operadora.
      </small>
    </div>

    <div class="form-group">
      <div class="container-fluid">
        <div class="row">
          <input id="file-input" class="d-none" type="file" (change)="readURL($event);">
          <label for="file-input" class="w-100 text-center">
            <picture>
              <source [srcset]="image || defaultImage" type="image/svg+xml">
              <img [src]="image || defaultImage" class="img-fluid img-thumbnail" alt="...">
            </picture>
          </label>
        </div>
      </div>
    </div>
  </div>
</div> -->