<div *ngIf="updateAvailable" class="alert alert-warning m-0" role="alert">
  Uma nova versão está disponível!
</div>
<div class="page-container overflow-hidden" [ngClass]="{'h-100': !updateAvailable}">
  <!-- <app-sidebar class="sidebar-menu"></app-sidebar> -->
  <!-- <app-navbar class="d-block header-area"></app-navbar> -->
  <div class="main-content position-relative overflow-auto w-100 h-100">
    <div class="content overflow-hidden w-100 h-100">
      <div class="container-fluid m-0 p-0 w-100 h-100">
        <div class="row m-0 p-0 w-100 h-100">
          <div class="col-sm-12 col-sm-9 col-lg-12 m-0 p-0 bg-light h-100 overflow-auto">
            <div class="container-fluid m-0 p-0 w-100 h-100">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>