<!-- <app-sidebar class="sidebar-menu"></app-sidebar> -->
<!-- <app-navbar class="d-block header-area"></app-navbar> -->
<div class="main-content position-relative overflow-auto w-100 h-100">
  <div class="content overflow-hidden w-100 h-100">
    <div class="container-fluid m-0 p-0 w-100 h-100">
      <div class="row m-0 p-0 w-100 h-100">
        <div class="col-sm-12 col-sm-9 col-lg-12 m-0 p-0 h-100 overflow-auto">
          <div class="d-flex flex-column m-0 p-0 w-100 h-100">

            <app-header-component id="layout-navbar" class="d-flex">
            </app-header-component>

            <div id="layout-content" class="d-flex flex-row flex-grow-1 overflow-auto">
              <div id="layout-sidebar" class="sidebar d-none d-md-flex bg-info">
                <div class="sidebar-wrapper">
                  <ul class="nav">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link" [routerLink]="['/exams/new']">
                        <i class="fas fa-plus-square" data-fa-transform="grow-6"></i>
                        <p>Novo Atendimento</p>
                      </a>
                    </li>
                    <hr>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link">
                        <i class="fas fa-book-medical" data-fa-transform="grow-6"></i>
                        <p>Atendimentos</p>
                      </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link" [routerLink]="['/users']">
                        <i class="fas fa-user-md"></i>
                        <p>Usuarios</p>
                      </a>
                    </li>
                    <hr>
                    <li>
                      <a class="nav-link" [routerLink]="['/sign-in']">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Sair</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div id="sidebar-mobile" class="sidebar position-fixed d-flex d-md-none bg-info collapsed">
                <div class="sidebar-wrapper">
                  <ul class="nav">
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link" [routerLink]="['/exams/new']">
                        <i class="fas fa-plus-square" data-fa-transform="grow-6"></i>
                        <p>Novo Atendimento</p>
                      </a>
                    </li>
                    <hr>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link">
                        <i class="fas fa-book-medical" data-fa-transform="grow-6"></i>
                        <p>Atendimentos</p>
                      </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                      <a class="nav-link" [routerLink]="['/users']">
                        <i class="fas fa-user-md"></i>
                        <p>Usuarios</p>
                      </a>
                    </li>
                    <hr>
                    <li>
                      <a class="nav-link" [routerLink]="['/sign-in']">
                        <i class="fas fa-sign-out-alt"></i>
                        <p>Sair</p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="d-flex flex-column flex-grow-1 overflow-auto">
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>